/* Image Viewer Swiper Styles */
.image-viewer-swiper .swiper-pagination {
  color: var(--foreground);
  background: var(--background);
  opacity: 0.6;
  backdrop-filter: blur(4px);
  font-size: 12px;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 8px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}
